<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title
      ><div class="ion-margin-vertical"><h1>Record</h1></div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Meeting ID</ion-label>
          <ion-input type="text" [(ngModel)]="inputMeeting"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">User ID</ion-label>
          <ion-input type="text" [(ngModel)]="inputUser"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header
            >Is recording?: {{isRecording}}<br />
            This is what I understood...</ion-card-header
          >
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let match of matches">
                {{match}}
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="getPermissions()">Get Permision</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="startRecording()"> Record</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="stopRecording()" *ngIf="isIos()">
            Stop</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
