<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title
      ><div class="ion-margin-vertical"><h1>Display Script</h1></div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Meeting ID</ion-label>
          <ion-input type="text" [(ngModel)]="inputMeeting"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">User ID</ion-label>
          <ion-input type="text" [(ngModel)]="inputUser"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header> Transcription... <br /> </ion-card-header>
          <ion-card-content>
            <p>{{loadedDataMsg.scriptMsg}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="getByUser()">Get by User id </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="getByMeeting()">Get by Meeting id</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
