<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="ion-margin-vertical">
        <h1>Home</h1>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card href="/record">
    <ion-card-header>
      <h1>Record Meeting</h1>
    </ion-card-header>
    <ion-card-content>
      Record and send script to DB
    </ion-card-content>
  </ion-card>
  <ion-card color="medium">
    <ion-card-header>
      <h1>Show Script</h1>
    </ion-card-header>
    <ion-card-content>
      Visualize script
    </ion-card-content>
  </ion-card>
</ion-content>
